<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎光临</title>
    <link rel="stylesheet" href="../static/css/common_style.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/shopList_search.css">
	
	<style>
		.bar{
			height: 32px;
			background-color: #f40;
		}
		.bar .content{
			margin-top: 35px;
			height: 100%;
			display: flex;
			align-items: center;
		}
		.bar .content a{
			color: white;
			margin-right: 10px;
			font-size: 12px;
		}
	</style>
</head>
<body>
	<div class="search">
		<div class="logo">
			<h1>XX商城</h1>
		</div>
		<div class="box">
			<input type="text"><input type="button" value="搜索">
		</div>
	</div>
	<div class="bar">
		<div class="content wrap">
			<a href="#">所有</a>
			<a href="#">热卖</a>
			<a href="#">新品</a>
			<a href="#">好评</a>
		</div>
	</div>
	<div class="wrap">
		<div class="category">
		    
		</div>
		<div class="activity"></div>
		
	</div>
	
</body>
</html>